name: Flutter Desktop Build

on:
  push:
    branches:
      - main

jobs:
  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Windows App
        run: flutter build windows

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v3
        with:
          name: flutter-windows-app
          path: build/windows/runner/Release/

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Linux App
        run: flutter build linux

      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v3
        with:
          name: flutter-linux-app
          path: build/linux/

  build-macos:
    name: Build macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Build macOS App
        run: flutter build macos

      - name: Upload macOS Artifact
        uses: actions/upload-artifact@v3
        with:
          name: flutter-macos-app
          path: build/macos/Build/Products/Release/
